@{
  Layout = "_Layout";
  ViewData["Title"] = "Home";
}

<section id="hero" class="hero section dark-background">
    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item active">
            <img src="assets/img/hero-carousel/carousel-1.jpg" alt="">
            <div class="carousel-container">
                <h2>Matrice 4 Series</h2>
                <p>AI Based Compact Drone</p>
                <a href="#featured-services" class="btn-get-started">Get Started</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="assets/img/hero-carousel/carousel-2.jpg" alt="">
            <div class="carousel-container">
                <h2>Dock 2</h2>
                <p>Solusi Drone Otomatis Penuh</p>
                <a href="#featured-services" class="btn-get-started">Get Started</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="assets/img/hero-carousel/carousel-3.jpg" alt="">
            <div class="carousel-container">
                <h2>Zenmuse L2</h2>
                <p>Kamera Akuisisi Data LIDAR Presisi Tinggi</p>
                <a href="#featured-services" class="btn-get-started">Get Started</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>
    </div>
</section>

<section id="starter-section" class="starter-section section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Distributor Resmi Indonesia</h2><br>
        <p>Higertech menyediakan solusi drone lengkap di semua bidang industri diantaranya Pertambangan, Minyak & Gas, Kelistrikan, Pertanian, Konstruksi, Keamanan, dan Pelayanan Publik.
            Drone kami dapat digunakan untuk berbagai aplikasi, termasuk inspeksi, pemetaan, pemantauan, fire monitoring dan logistics. Untuk setiap aplikasi drone, kami juga menyediakan software dan AI canggih yang dapat disesuaikan dengan kebutuhan spesifik berbagai industri.
        </p>
    </div><!-- End Section Title -->
</section><!-- /Starter Section Section -->

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/matrice-4-series.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Matrice 4 Series</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/matrice-4-series-1.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 4 Thermal</h3>
                <p class="fst-italic">
                    Drone flagship compact yang dilengkapi 6 lensa dan AI recognition yang dapat mendeteksi manusia, kapal, kendaraan, serta objek lain (customizable) untuk mendukung berbagai operasi security, inspeksi, maupun search & rescue, baik di siang maupun malam hari.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal up to 1280x1024</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 1/1.3 CMOS 48 MP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>3x medium tele & 7x tele camera, continuous zoom up to 112x</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Laser rangefinder 1800m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 49 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>NIR auxiliary light 100m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Mendukung LED spotlight & loudspeaker (optional)</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/matrice-4-series-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 4 Enterprise</h3>
                <p class="fst-italic">
                    Drone flagship compact yang dilengkapi dengan built-in RTK module dan berbagai fitur intelligent seperti Foreground Stabilization untuk survey dan pemetaan berkualitas tinggi.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>3-directional ortho capture & 5-directional oblique capture </span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 4/3 CMOS, 20 MP & mechanical shutter</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>0.5 second interval shooting</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>3x medium tele & 7x tele camera</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Smart 3D capture, geometric route, slope route</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 49 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Dapat digunakan dengan D-RTK 3 (base & relay)</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section><!-- /About Section -->

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/mavic-3-enterprise.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Mavic 3 Enterprise Series</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/mavic-3-enterprise.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Mavic 3 Enterprise</h3>
                <p class="fst-italic">
                    Drone compact portable yang sangat efisien untuk berbagai misi survey dan pemetaan dengan tingkat akurasi tinggi ±3cm.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 4/3 CMOS, 20MP & mechanical shutter</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 12MP & 56x hybrid zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 45 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight distance 8 km</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/mavic-3-thermal.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Mavic 3 Thermal</h3>
                <p class="fst-italic">
                    Drone compact dan portable untuk berbagai operasi security, inspeksi, serta pencarian dan penyelamatan pada siang maupun malam hari.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal 640×512 (30fps)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 48MP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 12MP & 56x hybrid zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 45 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight distance 32 km</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/mavic-3-multispectral.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Mavic 3 Multispectral</h3>
                <p class="fst-italic">
                    Solusi drone untuk pengelolaan lahan pertanian secara digital, analisa kesehatan tanaman, dan pemetaan di lahan pertanian, perkebunan & kehutanan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>4 kamera multispektral 5MP (G/R/RE/NIR)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera RGB 4/3 CMOS, 20MP & mechanical shutter</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Indeks vegetasi & pencitraan RGB dapat diperoleh secara real-time</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Menghasilkan indeks vegetasi RGB, GNDVI, LCI, NDRE, NDVI, OSAVI</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Menghasilkan model 2D, 3D, & peta indeks multispektral melalui DJI Terra</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 43 mins dengan modul RTK</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section><!-- /About Section -->

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/matrice-30-series.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Matrice 30 Series</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/matrice-30.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 30</h3>
                <p class="fst-italic">
                    Solusi drone all-in-one yang dilengkapi 3 sensor yaitu kamera zoom, wide, dan laser rangefinder untuk berbagai kebutuhan security, inspeksi, SAR, serta pemantauan lingkungan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 48MP, 5-16x optical zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 1/2 CMOS, 12MP, resolusi video 4K/30 fps</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 41 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max wind resistance 12 m/s</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Laser rangefinder 1200 m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>IP55, dustproof & weatherproof</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/matrice-30-thermal.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 30 Thermal</h3>
                <p class="fst-italic">
                    Solusi drone all-in-one yang dilengkapi 4 sensor yaitu kamera zoom, wide, dan laser rangefinder untuk berbagai kebutuhan security, inspeksi, SAR, serta pemantauan lingkungan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal 640×512</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 48MP, 5-16x optical zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 1/2 CMOS, 12MP, resolusi video 4K/30 fps</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 41 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max wind resistance 12 m/s</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Laser rangefinder 1200 m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>IP55, dustproof & weatherproof</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/matrice-350.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Matrice 350 & Payloads</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/matrice-350-rtk.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 350 RTK</h3>
                <p class="fst-italic">
                    Solusi drone all-in-one yang dilengkapi 4 sensor yaitu kamera zoom, wide, dan laser rangefinder untuk berbagai kebutuhan security, inspeksi, SAR, serta pemantauan lingkungan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal 640×512</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 48MP, 5-16x optical zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 1/2 CMOS, 12MP, resolusi video 4K/30 fps</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 41 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max wind resistance 12 m/s</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Laser rangefinder 1200 m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>IP55, dustproof & weatherproof</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/zenmuse-h30t.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Zenmuse H30T</h3>
                <p class="fst-italic">
                    Payload multi-sensor terbaru yang menggabungkan kamera night vision dan thermal infrared untuk kebutuhan inspeksi, security, fire monitoring & environmental science.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Full-color night vision</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal resolusi tinggi (1280×1024), dapat mengukur suhu hingga 1600°C</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera zoom 40MP (34x optical zoom, 400x max digital zoom)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Laser rangefinder 3000m</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>NIR auxiliary light untuk pencahayaan tambahan</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/zenmuse-l2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Zenmuse L2</h3>
                <p class="fst-italic">
                    Drone payload LIDAR untuk akuisisi data geospasial dengan akurasi tinggi ±4cm, jangkauan yang luas, dan lebih cepat.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera RGB 4/3 CMOS, 20MP & mechanical shutter</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Mendukung 5 returns, meningkatkan penetrasi kehutanan & pengumpulan ground point</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Terintegrasi dengan DJI Terra untuk akuisisi data 3D & post-processing presisi tinggi</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max detection range 250m reflectivity, 100 klx</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Ideal untuk survey & pemetaan kehutanan, tenaga listrik, konstruksi, & bidang lainnya</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/zenmuse-p1.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Zenmuse P1</h3>
                <p class="fst-italic">
                    Kamera fotogrametri full-frame untuk survei dan pemetaan dengan beberapa lensa fokus tetap yang dapat diganti sesuai kebutuhan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Dilengkapi global mechanical shutter dengan akurasi ±3cm tanpa GCP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Sensor full-frame 45MP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>3 opsi fixed lenses (24/35/50mm)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Smart oblique capture</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Pemetaan secara real-time menggunakan DJI Terra</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Menghasilkan orthomosaic 2D, oblique 3D & detailed modeling</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/dji-dock.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">DJI Dock</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/dock-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Dock 2</h3>
                <p class="fst-italic">
                    Sistem drone otomatis yang dapat beroperasi 24/7 hadir dengan dua drone (M3D & M3TD) yang dapat disesuaikan dengan kebutuhan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>IP55, dustproof & weatherproof</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Compact (570x583x465mm) dan ringan (34kg)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 50 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Jangkauan operasi max 10km</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Dapat digunakan dengan DJI FlightHub 2, platform untuk manajemen operasi drone</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/m3d.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 3D (M3D)</h3>
                <p class="fst-italic">
                    Dirancang khusus untuk Dock 2, M3D ideal untuk operasi survey dan pemetaan akurasi tinggi ±3cm secara otomatis 24/7.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 4/3 CMOS, 20MP & mechanical shutter</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera tele 1/2 CMOS, 12MP, 56x digital zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>IP54, dustproof & weatherproof</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 50 mins</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>0.7 second interval shooting</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/m3td.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Matrice 3D (M3TD)</h3>
                <p class="fst-italic">
                    Dirancang khusus untuk Dock 2, M3TD dilengkapi kamera thermal yang ideal untuk operasi security, surveillance, dan inspeksi secara otomatis 24/7.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera thermal 640×512 30fps </span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera wide 1/1.32 CMOS, 48MP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Kamera tele 1/2 CMOS, 12MP, 56x digital zoom</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>IP54, dustproof & weatherproof</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Max flight time 50 mins</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/software.jpeg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Software</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/flighthub2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DJI Flighthub 2</h3>
                <p class="fst-italic">
                    Software cloud-based yang lengkap untuk manajemen operasi drone secara real-time yang dapat digunakan untuk beragam kebutuhan, seperti:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Operasi dan pemeliharaan terpusat</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Membuat semua jenis misi penerbangan langsung dari komputer menggunakan 2.5D Base Map</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Live streaming satu atau banyak operasi drone secara bersamaan ke banyak pengguna</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Mengunggah, menyimpan, & mengelola data di server cloud yang dioperasikan oleh Amazon Web Services, dengan sertifikasi keamanan ISO/IEC 27001</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/dji-terra.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DJI Terra</h3>
                <p class="fst-italic">
                    Software rekonstruksi model 3D yang memiliki fotogrametri sebagai teknologi intinya, mendukung serangkaian rekonstruksi 2D & 3D yang akurat dan efisien, serta hasil proses data point cloud dari Zenmuse L2.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Real-time 3D mapping</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Untuk beragam skenario seperti survei dan pemetaan tanah, transmisi listrik, layanan darurat, konstruksi, transportasi, dan pertanian</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Mendukung output dalam format umum, termasuk model orthomosaic dan elevasi TIFF, format point cloud LAS, dan enam format model 3D umum seperti B3DM, OSGB, OBJ, serta format kontur DXF dan SHP</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Menghasilkan True Digital Orthophoto (TDOM) dan Digital Surface Model (DSM) presisi tinggi</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/3dmodel.jpeg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DJI Modify</h3>
                <p class="fst-italic">
                   Software pengeditan model 3D cerdas pertama dari DJI dengan interface yang mudah digunakan untuk pengeditan model secara efisien.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Terintegrasi dengan DJI Terra, import model 3D hanya dalam 1 klik</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Render dan ekspor model dalam beragam format, seperti ply, obj, dan b3dm.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Dilengkapi beragam fitur pengeditan model 3D (floating parts removal, flattening, texture repair, dsb)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Model yang sudah diproses dapat dibagikan ke cloud dan dapat dilihat oleh siapapun melalui tautan</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/accesories.jpg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Accessories</h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/stand.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DRTK-3 Multifunctional Station</h3>
                <p class="fst-italic">
                    Multi-functional station yang terintegrasi dengan drone DJI untuk memberikan positioning accuracy yang tinggi sebagai base station, dan kini memiliki rover mode untuk pengambilan data koordinat untuk GCP/CP, serta menjadi relay station untuk meningkatkan jarak transmisi
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Base Station Mode: Mendukung 5 GNSS Systems & menyediakan RTK broadcasting untuk beberapa drone sekaligus</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Rover Mode: Pengambilan koordinat GCP/CP, terintegrasi dengan high precision IMU & tilt measurement</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Relay Station Mode: Meningkatkan jarak transmisi di area sulit sinyal seperti di perkotaan atau perbukitan</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/dji-dongle-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DJI 4G Celullar Dongle</h3>
                <p class="fst-italic">
                    DJI Cellular Dongle (4G Dongle)
                    Koneksi 4G untuk meningkatkan efisiensi operasi drone, memperluas jangkauan operasi hingga 10 km
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Mendukung network RTK untuk Survey & Mapping presisi tinggi – SDK tersedia untuk private deployment</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>DJI Cellular Dongle 1st Gen: DJI Mavic 3 Enterprise series, Matrice 30 Series, Matrice 350 RTK, DJI RC Pro Enterprise & DJI RC Plus</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>DJI Cellular Dongle 2: DJI Dock 2 dan DJI Matrice 3D & Matrice 3TD</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/product/dji-power.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>DJI Power 1000</h3>
                <p class="fst-italic">
                   Power station portabel dengan kapasitas besar 1024Wh yang dirancang khusus untuk mendukung operasi drone di lapangan. Dengan AC output 2200W yang mampu mengisi daya baterai drone, laptop dan peralatan lainnya secara bersamaan.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Multi-port output (2 port AC output, 2 port USB type-A, 2 port USB type-C)</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>SDC port & SDC port lite untuk fast charging drone DJI</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Operasi senyap dengan tingkat kebisingan hanya 23dB</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Port AC input dengan dua pilihan daya 1200W dan 600W</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Daya dapat diisi ulang melalui panel surya atau soket pengisi daya mobil</span></li>
                </ul>
                <a href="#" class="read-more"><i class="bi bi-arrow-right"></i><span>Contact Us</span></a>
                <a href="#" class="brochure-btn btn btn-outline-danger"><span>Download Brochure</span></a>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/call-action/dji-1.jpeg" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3 style="margin-top: 50px; margin-bottom: 50px;">Download Sample Data produk DJI Enterprise untuk Berbagai Aplikasi dan Industri</h3>
                    <a class="cta-btn" href="https://drive.google.com/drive/folders/18YINfCnG4fVsBuqGyBG7xQa12_opcxqA" target="_blank">Download</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Call To Action Section -->

<section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>Jl. Jatihandap No.36, Jatihandap</p>
                            <p>Kec.Mandalajati, Kota Bandung</p>
                            <p>Jawa Barat 40193</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+628112332182</p>
                            <p></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p>higertechkaryasinergi@gmail.com</p>
                            <p></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item" data-aos="fade" data-aos-delay="500">
                            <i class="bi bi-clock"></i>
                            <h3>Open Hours</h3>
                            <p>Monday - Friday</p>
                            <p>9:00AM - 05:00PM</p>
                        </div>
                    </div><!-- End Info Item -->
                </div>
            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>

                        <div class="col-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>

                        <div class="col-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>

                        <div class="col-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section><!-- /Contact Section -->